<section data-ng-controller="WalkersController" data-ng-init="find()">
    <div class="page-header">
        <h1>Walkers</h1>
    </div>
    <div class="list-group">
        <a data-ng-repeat="walker in walkers" data-ng-href="#!/walkers/{{walker._id}}" class="list-group-item">
            <small class="list-group-item-text">
                Posted on
                <span data-ng-bind="walker.created | date:'medium'"></span>
                by
                <span data-ng-bind="walker.user.displayName"></span>
            </small>
            <h4 class="list-group-item-heading" data-ng-bind="walker.firstName"></h4>
        </a>
    </div>
    <div class="alert alert-warning text-center" data-ng-hide="!walkers.$resolved || walkers.length">
        No Walkers yet, why don't you <a href="/#!/walkers/create">create one</a>?
    </div>
</section>
